<h1>Tarea:</h1>

<%= link_to edit_task_path(@task.id), class: 'pull-right btn btn-default' do %>
  <i class="fa fa-pencil"></i> Edit this task
<% end %>

<h2><%= @task.title %></h2>
<p class="well"> <%= @task.details %></p>

<% if @task.completed %>
  <i class="fa fa-check-square-o"></i> esta tarea esta completa
<% else %>
  <i class="fa fa-square-o"></i> esta tarea No esta completa
<% end %>

<hr>
<%= link_to tasks_path, class: 'pull-botton btn btn-default' do %>
  <i class="fa fa-history"></i> volver
<% end %>

<h2><%= link_to "", tasks_path %></h2>

<p><%= link_to "Borrar #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "estas seguro de borrar?" } %>
<p></p>

